# Ignore the virtual environment directory
venv/

# Ignore environment variable files
.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore temporary files
*.tmp
*.log
*.bak
*.swp

# Ignore MLflow artifact store
mlruns/
